@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap");

// Initial Variables

$black:         #000;
$black-bis:     #111;
$black-ter:     #222;
$grey-darker:   #333;
$grey-dark:     #444;
$grey:          #555;
$grey-light:    #666;
$grey-lighter:  #777;
$grey-lightest: #999;
$white-ter:     #ccc;
$white-bis:     #eee;
$white:         #fff;

$orange: #f63;

$size-1: 40px;
$size-2: 32px;
$size-3: 24px;
$size-4: 20px;
$size-5: 16px;
$size-6: 14px;
$size-7: 12px;

$primary: $orange;

$radius-small   : 0 2px 0 2px;
$radius         : 0 4px 0 4px;
$radius-large   : 0 8px 0 8px;

// Derived Variables

// $scheme-main: $white;
// $scheme-main-bis: $white-bis;
// $scheme-main-ter: $white-ter;
// $scheme-invert: $black;
// $scheme-invert-bis: $black-bis;
// $scheme-invert-ter: $black-ter;

// $background: $white-ter;

// $border: $grey-lighter;
// $border-hover: $grey-light;
// $border-light: $grey-lightest;
// $border-light-hover: $grey-light;

$text: $grey-darker;
$text-invert: findColorInvert($text);
$text-light: $grey;
$text-strong: $grey-darker;

$link: $orange;
// $link-visited: $purple;

// $link-hover: $grey-darker;
// $link-hover-border: $grey-light;

// $link-focus: $grey-darker;
$link-focus-border: $link;

$link-active: $grey-darker;
$link-active-border: $grey-dark;

$family-primary: 'Open Sans';
$family-secondary: 'Roboto Slab';

// Base Variables
$body-background-color: $orange;

// Control Variables
$control-radius: $radius-large;
$control-radius-small: $radius;

$control-border-width: 1px;

$control-height: 36px;
// $control-line-height: 1.5;

// $control-padding-vertical: calc(0.5em - #{$control-border-width});
// $control-padding-horizontal: calc(0.75em - #{$control-border-width});

@import "bulma/sass/utilities/_all.sass";