$control-radius: $radius-large;
$control-radius-small: $radius;

$control-border-width: 1px;

$control-height: 36px;
// $control-line-height: 1.5;

// $control-padding-vertical: calc(0.5em - #{$control-border-width});
// $control-padding-horizontal: calc(0.75em - #{$control-border-width});