// Colors
$black:         #000;
$black-bis:     #111;
$black-ter:     #222;

$grey-darker:   #333;
$grey-dark:     #444;
$grey:          #555;
$grey-light:    #666;
$grey-lighter:  #777;
$grey-lightest: #999;

$white-ter:     #ccc;
$white-bis:     #eee;
$white:         #fff;

$orange:        #f63;
// $yellow:        hsl(48,  100%, 67%);
// $green:         hsl(141, 53%,  53%);
// $turquoise:     hsl(171, 100%, 41%);
// $cyan:          hsl(204, 71%,  53%);
// $blue:          hsl(217, 71%,  53%);
// $purple:        hsl(271, 100%, 71%);
// $red:           hsl(348, 86%, 61%);

// Typography

// $family-sans-serif: "Open Sans";
// $family-monospace: monospace;
// $render-mode: optimizeLegibility;

$size-1: 40px;
$size-2: 32px;
$size-3: 24px;
$size-4: 20px;
$size-5: 16px;
$size-6: 14px;
$size-7: 12px;

// $weight-light: 300;
// $weight-normal: 400;
// $weight-medium: 500;
// $weight-semibold: 600;
// $weight-bold: 700;

// Spacing

// $block-spacing: 1.5rem;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
// $gap: 32px;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
// $tablet: 769px;
// 960px container + 4rem
// $desktop: 960px + (2 * $gap);
// 1152px container + 4rem
// $widescreen: 1152px + (2 * $gap);
// $widescreen-enabled: true;
// 1344px container + 4rem
// $fullhd: 1344px + (2 * $gap);
// $fullhd-enabled: true;

// Miscellaneous

// $easing: ease-out;
$radius-small:  0 2px 0 2px;
$radius:        0 4px 0 4px;
$radius-large:  0 8px 0 8px;
// $radius-rounded: 290486px;
// $speed: 86ms;

// Flags
// $variable-columns: true;
