// $card-color-dark: $text-dark;
$card-background-color-dark: $scheme-invert-ter;
$card-shadow-dark: 0 2px 3px rgba($scheme-main-bis, 0.1), 0 0 0 1px rgba($scheme-main-bis, 0.1);

// $card-header-color-dark: $text-strong-dark;
// $card-header-shadow-dark: 0 1px 2px rgba($white, 0.1);

// $card-footer-border-top-dark: 1px solid $border-dark;

@import "bulma-prefers-dark/sass/components/card.sass";