
// $primary-dark: darken($turquoise, 10%);

$info: darken($cyan, 10%);
$success: darken($green, 10%);
$warning: darken($yellow, 10%);
$danger: darken($red, 10%);

$light: $white-ter;
$dark: $grey-darker;

// Invert colors
// $orange-invert: findColorInvert($orange);
// $yellow-invert: findColorInvert($yellow);
// $green-invert: findColorInvert($green);
// $turquoise-invert: findColorInvert($turquoise);
// $cyan-invert: findColorInvert($cyan);
// $blue-invert: findColorInvert($blue);
// $purple-invert: findColorInvert($purple);
// $red-invert: findColorInvert($red);

// $primary-invert: $turquoise-invert;
// $primary-invert-dark: darken($turquoise-invert, 10%);
// $info-invert: $cyan-invert;
// $success-invert: $green-invert;
// $warning-invert: $yellow-invert;
// $danger-invert: $red-invert;
// $light-invert: $dark;
// $dark-invert: $light;

// General colors
// $background: $white-ter;
// $background-dark: $black-ter;

$border-dark: $grey-darker;
$border-hover-dark: $grey-dark;

// Text colors
$text-dark: $grey-light;
// $text-invert: findColorInvert($text);
$text-invert-dark: findColorInvert($text-dark);
// $text-light: $grey;
$text-strong-dark: $grey-lighter;

// Code colors
// $code-dark: darken($red, 15%);
// $code-background-dark: $background-dark;

// $pre-dark: $text-dark;
// $pre-background-dark: $background-dark;

// Link colors
$link-dark:                 $link;
$link-invert-dark:          $link-invert;

$link-hover-dark:           $link-hover;
$link-hover-border-dark:    $link-hover-border;

$link-focus-dark:           $link-focus;
$link-focus-border-dark:    $link-focus-border;

$link-active-dark:          $link-active;
$link-active-border-dark:   $link-active-border;
