// $button-color: $text-strong;
// $button-background-color: $scheme-main;
// $button-family: false;

// $button-border-color: $border;
// $button-border-width: $control-border-width;

$button-padding-vertical: 6px;
$button-padding-horizontal: 12px;

// $button-hover-color: $link-hover;
// $button-hover-border-color: $link-hover-border;

// $button-focus-color: $link-focus;
// $button-focus-border-color: $link-focus-border;
// $button-focus-box-shadow-size: 0 0 0 0.125em;
// $button-focus-box-shadow-color: rgba($link, 0.25);

// $button-active-color: $link-active;
// $button-active-border-color: $link-active-border;

// $button-text-color: $text;
// $button-text-hover-background-color: $background;
// $button-text-hover-color: $text-strong;

// $button-disabled-background-color: $scheme-main;
// $button-disabled-border-color: $border;
// $button-disabled-shadow: none;
// $button-disabled-opacity: 0.5;

// $button-static-color: $text-light;
// $button-static-background-color: $scheme-main-ter;
// $button-static-border-color: $border;

@import "bulma/sass/elements/button.sass";